<% @fighters.each do |fighter| %>
  <div class="yellow-card">
    <div><%= fighter.name %></div>
    <div>Level <%= fighter.level %> (exp. <%= fighter.exp %>)</div>
    <div class="p-3">
      <%#= cl_image_tag fighter.avatar, alt: "fighter", height: 50 %>
    </div>
    <div>Life Points <%= fighter.health %></div>
    <div>Attack Points <%= fighter.attack %></div>
    <div>Defense Points <%= fighter.defense %></div>
    <div><%= link_to "edit", edit_fighter_path(fighter) %></div>
    <div>
      <%= link_to "delete", fighter_path(fighter),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>
