<div class="cyber-container">
  <%= simple_form_for @fighter do |f| %>
    <%= f.input :name %>
    <%= f.input :avatar %>
    <%= f.input :health %>
    <%= f.input :attack %>
    <%= f.input :defense %>
    <%= f.submit %>
  <% end %>
</div>
